* {
    margin: 0;
    padding: 0;
}

body{
    transition: 1s;
}

#root{
    transition: 1s;
    overflow-y: hidden;
    display: grid;
}

.header {
    font-family: "Space Grotesk", sans-serif;
    font-size: 10vh;
    margin: 40vh auto;
}

.site {
    color: black;
    text-decoration: none;
}
